<% if new_object.errors %>
<div class="container">
  <div class="notification">
    <% new_object.errors.full_messages.each do |message| %>
        <%= message %>
      </div>
    </div>
    <% end %>
<% end %>

